#datatable_filter {
    float: right;
}

div#datatable_paginate {
    float: right;
}

.pagination {
    margin: 0px !important;
}

table tr td {
    vertical-align: inherit !important;
}

.box-change-password input {
    width: 60% !important;
}

#datatable {
     clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
}

span.required {
    color:red;
}